body {
  background-image:url("../img/github.png");
  background-position:top;
  background-repeat: no-repeat;
  background-color: black;
}

h1 {
  width:100%;
  text-align:center;
  color:white;
  text-decoration:underline;
}

.button {
  color: white;
}

.atras {
  position: relative;
  top: 40%;
}
