* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.loop1 {
  background-color: #629afcb3;
  height: 100vh;
}

/* ------ Patch last resource ------ */

.position_patch {
  height: 300px;
}

/* --------------------------------- */

.offer_box {
  background: #fff;
  text-align: center;
  width: 900px;
  border-radius: 5px;
}

.left_side {
  margin-left: 19px;
  margin-right: 46px;
}
.middle_side {
  margin-left: 8px;
  margin-right: 28px;
}
.right_side {
  margin-left: 28px;
  margin-right: 46px;
}

.offer_content {
  margin-top: 19px;
}

.offer_link {
  text-decoration: none;
  display: block;
  width: 290px;
}

.offer_link:hover {
  background-color: #bdbdbd33;
}

.offer_image {
  width: 67px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.offer_title {
  text-transform: uppercase;
  color: rgb(78, 98, 200);
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
}

.offer_text {
  color: rgb(153, 158, 164);
  width: 100%;
  font-size: smaller;
}

.offer_price {
  height: 60px;
  margin-bottom: 20px;
}

.offer_price p {
  color: rgb(78, 98, 200);
  display: inline;
}

.money_symbol {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: 3px;
  bottom: 14px;
}

.value {
  font-weight: 500;
  font-size: 32px;
}

.period {
  font-weight: 400;
  font-size: 13px;
}
